<script type ="text/template" id="contact-list-item">
<a data-transition="slide" data-role="button" onclick="load_page_by_name('renderContactView');" href="<%= url %>">
	<li  data-theme="c" id="contact_list_<%= id %>" class="ui-li-has-count ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-li-has-thumb contact_list_item"> 
	<div class="thumb-left">
	<img src="<%= thumbUrl %>" />
	</div>
	<div class="content-right">
	<h3 class="contact-name"><%= firstName %> <%= lastName %></h3>
	<p class="contact-company"><%= company %></p>
	</div>
	<span class="ui-li-count ui-btn-up-c ui-btn-corner-all"><%= noteCount %></span>
	<div class="ui-icon ui-icon-arrow-r "></div>

	</li>
		</a>
</script>