<script type="text/template" id="notes-list">
	<div class="">
	<img src="<%= thumbUrl %>" />
</div>
<div>
	<h3><%= firstName %> <%= lastName %></h3>
	<p>
		<%= company %>
	</p>
</div>
<h4>Notes: </h4>

<% if (noteCount > 0) { %>
  <div data-role="collapsible-set">
	<% _.each(notes, function(note){ %>
            <div data-role="collapsible">
		<h3><%= note.date %></h3>
		<p>
			<%= note.note %>
		</p>
	</div>
        <% }); %>

</div>
<% } %>


</script>
