.thumb-left {
    display: inline-block;
}
.content-right {
    display: inline-block;
    top: -12px;
	position: relative;
}
.thumb-left img {
    height: 76px;
}
.contact-name {
    margin: 0px;
    font-size: 1.7em;
}
.contact-company {
    margin: 19px 0 0px;
}

